<!DOCTYPE html>
<head>
<link rel="stylesheet" href="../CSS/bootstrap.css">
<script src="../JS/bootstrap.min.js"></script>
<script src="../JS/jquery-3.6.0.min.js"></script>
</head>
<body>
<form id="form_search">
	<div class="row mb-3 justify-content-center p-5">
		<div class="col-sm-2"><input type="number" value="" placeholder="указать номер заявки" class="form-control"></div>
		<button type="button" class="btn btn-primary mb-3 col-sm-1" id="btn_search">Найти</button>
	</div>
</form>


<div class="container" id="my"></div>	<!--Сюда выводим результат запроса-->
</body>